

#lukittujenLista {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 25%;
}

img {
  display: flex;
  margin-left: 45%;
  user-select: none;
}

h3 {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: white;
  margin-left: 45%;
}